<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
	[마이바티스] 스프링에서 "_"를 사용한 컬럼명을 사용 시(BOOK 테이블의 BOOK_ID)를 카멜케이스로 읽어줌(bookId)
	-->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 자주 사용하는 타입의 별칭을 세팅 -->
	<typeAliases>
		<typeAlias type="kr.or.ddit.dto.AdresDto" alias="adresDto" />
		<typeAlias type="kr.or.ddit.dto.AftusBbscttAnswerDto" alias="aftusBbscttAnswerDto" />
		<typeAlias type="kr.or.ddit.dto.AftusBbscttDto" alias="aftusBbscttDto" />
		<typeAlias type="kr.or.ddit.dto.AuthorDto" alias="authorDto" />
		<typeAlias type="kr.or.ddit.dto.BcityDto" alias="bcityDto" />
		<typeAlias type="kr.or.ddit.dto.BrtcDto" alias="brtcDto" />
		<typeAlias type="kr.or.ddit.dto.ChttSpceConectrDto" alias="chttSpceConectrDto" />
		<typeAlias type="kr.or.ddit.dto.CommonCdDetailDto" alias="commonCdDetailDto" />
		<typeAlias type="kr.or.ddit.dto.CommonCdDto" alias="commonCdDto" />
		<typeAlias type="kr.or.ddit.admin.faq.dto.FaqDto" alias="faqDto" />
		<typeAlias type="kr.or.ddit.admin.usersSearch.dto.UsersDto" alias="usersDto2" />
		<typeAlias type="kr.or.ddit.dto.LbrtyBbscttAnswerDto" alias="lbrtyBbscttAnswerDto" />
		<typeAlias type="kr.or.ddit.dto.LbrtyBbscttAnswerDto2" alias="lbrtyBbscttAnswerDto2" />
		<typeAlias type="kr.or.ddit.dto.LbrtyBbscttDto" alias="lbrtyBbscttDto" />
		<typeAlias type="kr.or.ddit.dto.LbrtyBbscttDto2" alias="lbrtyBbscttDto2" />
		<typeAlias type="kr.or.ddit.dto.MberDto" alias="mberDto" />
		<typeAlias type="kr.or.ddit.dto.MngrDto" alias="mngrDto" />
		<typeAlias type="kr.or.ddit.dto.MssageDto" alias="mssageDto" />
		<typeAlias type="kr.or.ddit.admin.notice.dto.NoticeDto" alias="noticeDto" />
		<typeAlias type="kr.or.ddit.dto.OndyclReviewDto" alias="ondyclReviewDto" />
		<typeAlias type="kr.or.ddit.dto.OndyclSchdulDto" alias="ondyclSchdulDto" />
		<typeAlias type="kr.or.ddit.dto.OndyclDto" alias="ondyclDto" />
		<typeAlias type="kr.or.ddit.dto.OneInqryAnswerDto" alias="oneInqryAnswerDto" />
		<typeAlias type="kr.or.ddit.dto.OneInqryDto" alias="oneInqryDto" />
		<typeAlias type="kr.or.ddit.dto.ProBkmkDto" alias="proBkmkDto" />
		<typeAlias type="kr.or.ddit.board.procollabo.dto.ProCprtnAnswerDto" alias="proCprtnAnswerDto" />
		<typeAlias type="kr.or.ddit.board.procollabo.dto.ProCprtnBbscttDto" alias="proCprtnBbscttDto" />
		<typeAlias type="kr.or.ddit.dto.ProJoBbscttAnswerDto" alias="proJoBbscttAnswerDto" />
		<typeAlias type="kr.or.ddit.dto.ProJoBbscttDto" alias="proJoBbscttDto" />
		<typeAlias type="kr.or.ddit.dto.ProProflDto" alias="proProflDto" />
		<typeAlias type="kr.or.ddit.board.prostory.dto.ProStoryBbscttDto" alias="proStoryBbscttDto" />
		<typeAlias type="kr.or.ddit.dto.ProDto" alias="proDto" />
		<typeAlias type="kr.or.ddit.dto.PrtfolioDto" alias="prtfolioDto" />
		<typeAlias type="kr.or.ddit.dto.PunshDto" alias="punshDto" />
		<typeAlias type="kr.or.ddit.dto.ResveDetailDto" alias="resveDetailDto" />
		<typeAlias type="kr.or.ddit.dto.ResveDto" alias="resveDto" />
		<typeAlias type="kr.or.ddit.dto.ReviewDto" alias="reviewDto" />
		<typeAlias type="kr.or.ddit.dto.SetleDto" alias="setleDto" />
		<typeAlias type="kr.or.ddit.dto.ShopngBundleDto" alias="shopngBundleDto" />
		<typeAlias type="kr.or.ddit.dto.SntncDeclDto" alias="sntncDeclDto" />
		<typeAlias type="kr.or.ddit.dto.SpcltyRealmDto" alias="spcltyRealmDto" />
		<typeAlias type="kr.or.ddit.dto.SprviseAtchmnfl" alias="sprviseAtchmnfl" />
		<typeAlias type="kr.or.ddit.dto.SprviseAtchmnflDto" alias="sprviseAtchmnflDto" />
		<typeAlias type="kr.or.ddit.dto.SrvcBtfInqryDto" alias="srvcBtfInqryDto" />
		<typeAlias type="kr.or.ddit.dto.SrvcRequstDto" alias="srvcRequstDto" />
		<typeAlias type="kr.or.ddit.dto.TdmtngChSpMshgDto" alias="tdmtngChSpMshgDto" />
		<typeAlias type="kr.or.ddit.dto.TdmtngPrtcpntDto" alias="tdmtngPrtcpntDto" />
		<typeAlias type="kr.or.ddit.dto.TdmtngDto" alias="tdmtngDto" />
		<typeAlias type="kr.or.ddit.dto.UserDeclDto" alias="userDeclDto" />
		<typeAlias type="kr.or.ddit.dto.UsersDto" alias="usersDto" />
		<typeAlias type="kr.or.ddit.dto.VMberUsersDto" alias="vMberUsersDto" />
		<typeAlias type="kr.or.ddit.dto.VProUsersDto" alias="vProUsersDto" />
		<typeAlias type="kr.or.ddit.dto.VOndyclProUsersDto" alias="vOndyclProUsersDto" />
		<typeAlias type="kr.or.ddit.dto.VOndyclSchdulDto" alias="vOndyclSchdulDto" />
		<typeAlias type="kr.or.ddit.dto.ReviewMberDto" alias="reviewMberDto" />
		<typeAlias type="kr.or.ddit.dto.BundleOndyclDto" alias="bundleOndyclDto" />
		<typeAlias type="kr.or.ddit.dto.UserNcnmMberPhotoDto" alias="userNcnmMberPhotoDto" />
		<typeAlias type="kr.or.ddit.proservice.serviceInquiry.dto.V_SrvcBtfInqryDto" alias="vSrvcBtfInqryDto"/>
		<typeAlias type="kr.or.ddit.proservice.serviceRequest.dto.V_SrvcRequstDto" alias="vSrvcRequstDto"/>
		<typeAlias type="kr.or.ddit.dto.VCityDto" alias="vCityDto" />
		<typeAlias type="kr.or.ddit.dto.VPrtfolioDto" alias="vPrtfolioDto" />
		<typeAlias type="kr.or.ddit.dto.DongChartDto" alias="dongChartDto" />
		<typeAlias type="kr.or.ddit.dto.DongChartDto2" alias="dongChartDto2" />
		<typeAlias type="kr.or.ddit.dto.DongChartDto3" alias="dongChartDto3" />
		
	</typeAliases>
</configuration>